* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 92%;
  overflow-x: hidden;
  scroll-padding-top: 4rem;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #444;
}
/* Header-1 CSS */

.header .header-1 {
  background: #fff;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1rem 9%;
}

.header .header-1 .logo {
  font-size: 30px;
  font-weight: bolder;
  color: #444;
}
.header .header-1 .logo i {
  color: #27ae60;
}
.header .header-1 .search-form {
  width: 500px;
  height: 50px;
  border: 2px solid rgb(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.header .header-1 .search-form input {
  font-size: 16px;
  padding: 0 12px;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: #444;
}
.header .header-1 .search-form label {
  font-size: 25px;
  padding-right: 15px;
  color: #444;
  cursor: pointer;
}
.header .header-1 .search-form label:hover {
  color: #219150;
}

.header .header-1 .icons div,
.header .header-1 .icons a {
  font-size: 25px;
  margin-left: 15px;
  color: #444;
  cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
  color: #27ae60;
}
#search-btn {
  display: none;
}
.header .header-2 {
  background: #27ae60;
  padding: 15px;
}
.header .header-2 .navbar {
  text-align: center;
}
.header .header-2 .navbar a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 16px;
}
.header .header-2 .navbar a:hover {
  background: #219150;
}

.header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Login Form Css */
.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 9);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
}
.login-form-container.active {
  right: 0;
}
.login-form-container form {
  background: #fff;
  border: 2px solid rgb(0, 0, 0, 0.1);
  width: 400px;
  padding: 10px;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 15px;
}
.login-form-container form h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: #444;
  text-align: center;
}
.login-form-container form span {
  display: block;
  padding-top: 10px;
}
.login-form-container form .box {
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
  border: 2px solid rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 12px;
  color: #444;
  text-transform: none;
}
.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}
.login-form-container form .checkbox label {
  font-size: 15px;
  color: #666;
  cursor: pointer;
}
.login-form-container form .btn {
  text-align: center;
  width: 100%;
  margin: 15px 0;
}
.login-form-container form p {
  padding-top: 6px;
  color: #666;
  font-size: 15px;
}
.login-form-container form p a {
  color: #27ae60;
  text-decoration: underline;
}
.login-form-container #close-login-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 30px;
  color: #444;
  cursor: pointer;
}
/* News Letter Css */
.newsletter {
  background-image: url(/images/letter-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.newsletter form {
  max-width: 40rem;
  margin-left: auto;
  text-align: center;
  padding: 5rem 0;
}

.newsletter form h3 {
  font-size: 22px;
  color: #fff;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.newsletter form .box {
  width: 90%;
  margin: 2px 0;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  color: #444;
  border-radius: 0.5rem;
  text-transform: none;
}
/* Blogs Css */
.blog{
  width: 100%;
  height: auto;
  margin: 25px 0;
}

.blog h1{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.blog .blog_box{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  

}
.blog .blog_box .blog_card{
  margin: 0 auto;
  width: 400px;
  height: auto;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.5);

}
.blog .blog_box .blog_card .blog_img{
  width: 380px;
  height: 300px;
  overflow: hidden;
  margin: 20px 10px;
  align-items: center;
  place-items: center;
  

  
}

.blog .blog_box .blog_card .blog_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}
.blog .blog_box .blog_card .blog_img img:hover{
 transition: all .3s;
  transform: scale(1.1);
}
.blog .blog_box .blog_card .blog_tag{
  padding: 20px;


}
.blog .blog_box .blog_card .blog_tag p{
  margin-top: 10px;
  text-align: justify;
  line-height: 22px;

}
.blog .blog_box .blog_card .blog_tag .blog_icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #27ae60;
  cursor: pointer;
}
/* Blog end */

.about-author {
    display: flex;
    align-items: center;
    font-size: 10px;
    position: relative;
    bottom: 0;
    left: -0.8rem;
    text-align: center;

}

.about-author span {
    font-weight: bold;
}

/* loader */
.loader-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f7f7f7;
  z-index: 10000;
  display:flex;
  align-items: center;
  justify-content: center;
}
.loader-container.active{
  display: none;
}
.loader-container img{
  height: 500px;
}
/* Contact */
.wrapper{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  
}

form{

  height: 400px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #27ae60;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #219150;
}


/* Banner Css */
p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-left: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 20px;
  line-height: 30px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 p {
  line-height: 25px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 50px;
}
.btn,
.sortbtn {
  display: inline-block;
  background-color: #27ae60;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn:hover {
  background-color: #219150;
}

.sortbtn {
  border: none;
  cursor: pointer;
}

.header .row {
  margin-top: 70px;
}

/* End Banner CSS */

/* Categories CSS */
.categories {
  margin: 70px 0px;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all .3s;
  opacity: 100%;
}
.col-3 img:hover{
 opacity: 80%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* End Categories CSS */

/* Featured CSS */
.featured {
  margin-bottom: 80px;
}

.col-4 {
  flex-basis: 23%;
  padding: 10px;
  cursor: pointer;
  min-width: 200px;
  margin-bottom: 50px;
  margin: 6px;
  background: #f2f2f2;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title:after {
  content: "";
  background-color: #f55a00;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
  margin-bottom: 10px;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa {
  color: orange;
}
.col-4:hover {
  transform: translateY(-5px);
}
/* End Featured css*/

/* Modal css*/

.close-modal {
  background: none;
  color: black;
  border: none;
  font-size: 3.5rem;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: -50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  left: 50%;
  border-radius: 10px;
  border: 1px solid #ccc;
  z-index: 2;
  background-color: #fff;
}

.modal.active {
  top: 53%;
}
.modal-header {
  display: flex;
  flex-direction: row-reverse;
}
.modal .body {
  padding: 0.75rem;
}

/* End Modal CSS */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.3);
}
#overlay.active {
  display: block;
}

/* Search in product page */
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

/*Footer css */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
  position: relative;
}

.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 20%;
  text-align: center;
}

.footer-col-1 .logo-white{
  font-size: 30px;

}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0px;
}
.copyright {
  text-align: center;
}

/* End Footer css*/
