* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s linear;
  transition:width none;
}

html {
  font-size: 80%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #444;
}

/* Header-1 CSS */

.header .header-1 {
  background: #fff;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1.5rem 9%;
}

.header .header-1 .logo {
  font-size: 2rem;
  font-weight: bolder;
  color: #444;
}

.header .header-1 .logo i {
  color: #27ae60;
}

.header .header-1 .search-form {
  width: 50rem; 
  height: 3.125rem;
  border: 0.125rem solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
}

.header .header-1 .search-form input {
  font-size: 1rem;
  padding: 0 0.75rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: #444;
}

.header .header-1 .search-form label {
  font-size: 1.5625rem;
  padding-right: 0.9375rem;
  color: #444;
  cursor: pointer;
}

.header .header-1 .search-form label:hover {
  color: #219150;
}

.header .header-1 .icons div,
.header .header-1 .icons a {
  font-size: 1.5625rem;
  margin-left: 0.9375rem; 
  color: #444;
  cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
  color: #27ae60;
}

#search-btn {
  display: none;
}

.header .header-2 {
  background: #27ae60;
  padding: 2px 0;
}

.header .header-2 .navbar {
  text-align: center;
}

.header .header-2 .navbar a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 1rem;
}

.header .header-2 .navbar a:hover {
  background: #219150
}

.header .header-2.active {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;
}

a {
text-decoration: none;
color: #fff;
}


/* Login Form Css */
.login-form-container {
display: flex;
align-items: center;
justify-content: center;
background: rgba(255, 255, 255, 9);
position: fixed;
top: 0;
right: -105%;
z-index: 10000;
height: 100%;
width: 100%;
}

.login-form-container.active {
right: 0;
}

.login-form-container form {
background: #fff;
border: 0.2rem solid rgb(0, 0, 0, 0.1);
width: 26.667rem;
height: 30rem;
padding: 0.667rem;
box-shadow: 0.067rem 0.067rem rgb(0, 0, 0, 0.1);
border-radius: 0.333rem;
margin: 0.938rem;
}

.login-form-container form h3 {
font-size: 1.667rem;
text-transform: uppercase;
color: #444;
text-align: center;
}

.login-form-container form span {
display: block;
padding-top: 0.667rem;
}

.login-form-container form .box {
width: 100%;
margin: 1.333rem 0;
font-size: 1.067rem;
border: 0.2rem solid rgb(0, 0, 0, 0.1);
border-radius: 0.333rem;
padding: 0.8rem 0.96rem;
color: #444;
text-transform: none;
}

.login-form-container form .checkbox {
display: flex;
align-items: center;
gap: 0.333rem;
padding: 0.667rem 0;
}

.login-form-container form .checkbox label {
font-size: 0.9375rem;
color: #666;
cursor: pointer;
}

.login-form-container form .btn {
text-align: center;
width: 100%;
margin: 0.938rem 0;
}

.login-form-container form p {
padding-top: 0.4rem;
color: #666;
font-size: 0.9375rem;
}

.login-form-container form p a {
color: #27ae60;
text-decoration: underline;
}

.login-form-container #close-login-btn {
position: absolute;
top: 0.469rem;
right: 1.042rem;
font-size: 1.875rem;
color: #444;
cursor: pointer;
}

/* News Letter Css */
.newsletter {
background-image: url(/images/letter-bg.jpeg);
background-repeat: no-repeat;
background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* Newsletter form */
.newsletter form {
  max-width: 40rem;
  margin-left: auto;
  text-align: center;
  padding: 5rem 0;
}

.newsletter form h3 {
  font-size: 1.375rem; /* 22px / 16px */
  color: #fff;
  padding-bottom: 0.5rem;
  font-weight: normal;
}

.newsletter form .box {
  width: 90%;
  margin: 0.125rem 0; /* 2px / 16px */
  padding: 1rem 1rem;
  font-size: 1rem; /* 16px / 16px */
  color: #444;
  border-radius: 0.5rem;
  text-transform: none;
}

/* Blogs CSS */
.blog {
  width: 100%;
  height: auto;
  margin: 1.5625rem 0; /* 25px / 16px */
}

.blog h1 {
  text-align: center;
  font-size: 1.875rem; /* 30px / 16px */
  margin-bottom: 1.875rem; /* 30px / 16px */
}

.blog .blog_box {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog .blog_box .blog_card {
  margin: 0 auto;
  width: 25rem; /* 400px / 16px */
  height: auto;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.blog .blog_box .blog_card .blog_img {
  width: 23.75rem; /* 380px / 16px */
  height: 18.75rem; /* 300px / 16px */
  overflow: hidden;
  margin: 1.25rem 0.625rem; /* 20px 10px / 16px */
  align-items: center;
  place-items: center;
}

.blog .blog_box .blog_card .blog_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog .blog_box .blog_card .blog_img img:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

.blog .blog_box .blog_card .blog_tag {
  padding: 1.25rem; /* 20px / 16px */
}

.blog .blog_box .blog_card .blog_tag p {
  margin-top: 0.625rem; /* 10px / 16px */
  text-align: justify;
  line-height: 1.375rem; /* 22px / 16px */
}

.blog .blog_box .blog_card .blog_tag .blog_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #27ae60;
  cursor: pointer;
}

/* About author */
.about-author {
  display: flex;
  align-items: center;
  font-size: 0.625rem; /* 10px / 16px */
  position: relative;
  bottom: 0;
  left: -0.05rem; /* -0.8px / 16px */
  text-align: center;
}

.about-author span {
  font-weight: bold;
}

/* Loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f7f7f7;
  z-index: 10000;
  display:flex;
  align-items: center;
  justify-content: center;
}
.loader-container.active{
  display: none;
}
.loader-container img{
  height: 500px;
}
/* Contact */
.wrapper{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  
}

form{

  height: 400px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #27ae60;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #219150;
}


/* Banner Css */
p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-left: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 20px;
  line-height: 30px;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 p {
  line-height: 25px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 50px;
}
.btn,
.sortbtn {
  display: inline-block;
  background-color: #27ae60;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn:hover {
  background-color: #219150;
}

.sortbtn {
  border: none;
  cursor: pointer;
}

.header .row {
  margin-top: 70px;
}

/* End Banner CSS */

/* icon container */

.icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)) ;
  gap: 13px;
}
.icons-container .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 2px 0;

}
.icons-container .icons i{
  font-size: 35px;
  color: #27ae60;
}
.icons-container .icons h3{
  font-size: 20px;
  color: #444;
  padding-bottom: .5rem;
}
.icons-container .icons p{
  font-size: 15px;
  color: #666;
}
/* Categories CSS */
.categories {
  margin: 70px 0px;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all .3s;
  opacity: 100%;
}
.col-3 img:hover{
 opacity: 80%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* End Categories CSS */

/* Featured CSS */
.featured {
  margin-bottom: 80px;
}

.col-4 {
  flex-basis: 23%;
  padding: 10px;
  cursor: pointer;
  min-width: 200px;
  margin-bottom: 50px;
  margin: 6px;
  background: #f2f2f2;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title:after {
  content: "";
  background-color: #27ae60;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
  margin-bottom: 10px;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa {
  color: orange;
}
.col-4:hover {
  transform: translateY(-5px);
}
/* End Featured css*/

/* Modal css*/

.close-modal {
  background: none;
  color: black;
  border: none;
  font-size: 3.5rem;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: -50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  left: 50%;
  border-radius: 10px;
  border: 1px solid #ccc;
  z-index: 2;
  background-color: #fff;
}

.modal.active {
  top: 53%;
}
.modal-header {
  display: flex;
  flex-direction: row-reverse;
}
.modal .body {
  padding: 0.75rem;
}

/* End Modal CSS */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.3);
}
#overlay.active {
  display: block;
}

/* Search in product page */
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

/*Footer css */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
  position: relative;
}

.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 20%;
  text-align: center;
}

.footer-col-1 .logo-white{
  font-size: 30px;

}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}
.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0px;
}
.copyright {
  text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 50px;
  font-size: 18px;
  text-align: center;
  background-color: #27ae60;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #219150;
}


/* End Footer css*/

